*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(8, 15, 37, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.interface {
    background-color: rgb(24, 23, 23);
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 20px 0 20px;
}
.car {
    background-image: url(./img/car1.png);
    background-size: cover;
    width: 100px;
    height: 200px;
    margin-top: 650px;
    display: block;
    transition: 500ms;
    z-index: 1;
}

.l-side {
    background-color: #9e9e9e;
    width: 60px;
    
}
.r-side {
    background-color: #9e9e9e;
    width: 60px;
}

.stripes {
    position: absolute;
    margin-top: -2000px;
    width: 50px;
    height: 3000px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    z-index: 0;
    animation: roll 1500ms linear infinite;
}

.line {
    background-color: rgb(255, 230, 0);
    width: 20px;
    height: 150px;
   
}

/* Animações */
.car-left {
    animation: turnLeft 300ms linear forwards;
}

.car-right {
    animation: turnRight 300ms linear forwards;
}

@keyframes turnLeft {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes turnRight {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes roll {
    to {
        transform: translateX(-50%) translateY(1500px);
      }
}